body,
html {
    background: $colourPrimary;
}

.main {
    @extend %grid;
    text-align: center;
    height: 100%;
}

.veryhigh {
    background: #e00;
}

.high {
    background: #E83E0C;
}

.moderate {
    background: #FF7B0D;
}

.low {
    background: #56E840;
}