body,
html {
    background: $colourPrimary;
    @include transition(background);
}

.main {
    @extend %grid;
    text-align: center;
    height: 100%;
}

.veryhigh {
    background: #ee1000;
}

.high {
    background: #FF7B0D;
}

.moderate {
    background: #FFAE15;
}

.low {
    background: #56E840;
}